config EXAMPLES_LVGL_MY_PHOTO
    tristate "LVGL My Photo Example"
    default n
    depends on GRAPHICS_LVGL
    ---help---
        Enable LVGL photo display example

if EXAMPLES_LVGL_MY_PHOTO

config EXAMPLES_LVGL_MY_PHOTO_PROGNAME
    string "Program name"
    default "myphoto"

config EXAMPLES_LVGL_MY_PHOTO_PRIORITY
    int "Task priority"
    default 100

config EXAMPLES_LVGL_MY_PHOTO_STACKSIZE
    int "Stack size"
    default 8192

endif
